body{
    background-image: url("../assets/background_in_space.gif"); /* Imagen de fondo para la página */
    background-position: top;
    margin: 0;  /* Elimina las márgenes de la página */
    font-family: "Montserrat", sans-serif;  /* Define la fuente principal de la página  */
}

/*HEADER SECTION*/
    header{
        display: flex;      /* Permite alinear el logo y el nombre principal */
        position: fixed;
        top: 0;
        height: 50px;       /* Altura el header */
        width: 100%;        /* Permite cubrir el 100% del ancho */
        background-color: #ea8950;
        align-items: center;            /* Permite alienar horizontalmente los items */
    }

    h1{
        font-family: "Rubik", sans-serif;
        font-weight: 400; /* Grosor de la fuente */
        color: #262e38;
    }

    header svg{
        margin: 0 10px; /* margen del logo a la izquierda y derecha */
    }

/*PRINCIPAL SECITON*/
/* Contenedor principal del panel de texto y la calculadora*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr minmax(330px, 680px); /* Define dos columnas (columna de 1 fracción - tamaños min y max del contenedor) */
    gap: 80px;      /*distancia entre Grid containers */
    margin: 120px 50px 0 50px;
}

    /* Text section */
    h2 {
        font-family: "Handjet", sans-serif;
        color: #ea8950;
        font-weight: 300;
        font-size: 50pt;
        margin: 0;
    }

    .item1-text p {
        color: #DDE6ED;
        position: relative; /* Asegurar que el texto tenga una posición relativa */
        z-index: 1; /* Asegurar que el texto esté por encima de la imagen */
    }

    /* Imagen cohete */
    .rocketLogo {
        position: fixed;
        bottom: 25px;
        height: 350px;
        opacity: 0.5;
        z-index: -1; /* Asegurar que la imagen esté por debajo del texto */
    }

    /* calculator section */
    .item2-calculator {   
        padding: 20px;
        background-color: #CED2DE;
        border-radius: 20px;
        box-shadow: 5px 5px 14px #000000; /* SombraDerecha - SombraInferior - Difuminacion*/
    }

    /* Display de la calculadora */
    .item2-calculator .displayContaier {
        display: grid;
        grid: span 4;
        height: 60px;
        overflow: auto; /* Agregar overflow: auto; para habilitar la barra de desplazamiento en caso de que el contenido sea demasiado grande */
    }

    input {
        padding-right: 10px;
        text-align: right;
        font-size: 16pt;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
        border: none;
        outline: none;  /* quita la linea externa cuando se dijita en el display */
        box-shadow: inset -5px -5px 12px #ffffff,               /* Sombra interna del panel derecha/inferior */
                    inset 5px 5px 12px rgba(0, 0, 0, 0.16);     /* Sombra interna del panel izquierda/superior */
    }

    /* Panel de botones calculadora */
    .item2-calculator .button-panel {
        display: grid;
        grid-template-columns: repeat(4, 1fr);  /* cuatro columnas de 1 fracción  */
        margin-top:40px;
    }

    /* Estilos generales botones calculadora */
    button {
        color: #262e38;
        border-radius: 30px;
        font-size: 12pt;
        border: none;
        padding: 15px;
        margin: 10px;
        cursor: url("/Calculator-WebApp/assets/pointer-32.png"), auto;   /* cambiar el cursos cuando se pone en los botones */
                                                                         /* el AUTO deja el por defecto si no se encuentra el personalizado */
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3); /* Agregar sombra al botón */
                                                       /* abajo - derecha - degradé distancia / Color degradé y opacidad */
    }

    /* Color y degradé de los botones especiales */
    /* degraé desde la izquierda superior - los colores en orden van de derecha a izquierda */
    .button-panel .clear-btn{
        background: linear-gradient(to left top, #ff8f8f, #ff3535);
    }

    .button-panel .gray-btn {
        background: linear-gradient(to left top, #C5CEDF, #A0ADC4);
    }

    .button-panel .orange-btn {
        background: linear-gradient(to left top, #ffaf40, #ff8c00);
    }

    .button-panel .cero-btn {
        grid-column: span 2;
    }


    /* Efecto HOVER al pasar el cursor encima de un boton */
    button:hover {
        background-color: #e2b7b7;
        }

    .button-panel .clear-btn:hover {
        background: linear-gradient(to left top, #ffb4b4, #ff8f8f);
    }

    .button-panel .gray-btn:hover {
        background: linear-gradient(to left top, #cdd6e7, #b0bdd4);
    }

    .button-panel .orange-btn:hover {
        background: linear-gradient(to left top, #ffcf84, #ffaf40);
    }

/*FOOTER SECTION*/
footer {
    position: absolute;     
    bottom: 0;    
    width: 100%;    /* Permite cubrir el 100% del ancho */
}
    /* Footer text */
    .social{
        color: #ea8950;
        text-align: center;
        font-size: 8pt;
    }